<ng-single-full-entity [VM]="VM">
  <form #frm="ngForm">
    <div class="p-fluid">
      <div class="field col-6">
        <label for="title" class="sr-only">Title</label>
        <span class="p-input-icon-right">
          <i
            class="pi pi-spin pi-spinner"
            [style]="{ display: VM.isBusy ? 'initial' : 'none' }"
          >
          </i>
          <input
            id="title"
            type="text"
            pInputText
            class="p-inputtext p-component"
            name="title"
            [(ngModel)]="VM.model && VM.model.title"
          />
        </span>
      </div>
      <div class="field col-6">
        <label for="body" class="sr-only">Body</label>
        <textarea
          id="body"
          pInputTextarea
          rows="5"
          class="p-inputtext p-component noSize"
          name="body"
          [(ngModel)]="VM.model && VM.model.body"
        >
        </textarea>
      </div>
    </div>
  </form>
</ng-single-full-entity>
