<ng-header-actions [actions]="headerActions"></ng-header-actions>
<ag-paged-list
  [columnDefs]="columnDefs"
  [data$]="rowData"
></ag-paged-list>
<!-- <lib-ng-divider></lib-ng-divider>
<lib-ng-input-text></lib-ng-input-text>
<lib-ng-input-search></lib-ng-input-search>
<lib-ng-button></lib-ng-button>
<lib-ng-calendar></lib-ng-calendar>
<lib-ng-checkbox></lib-ng-checkbox>
<lib-ng-dropdown></lib-ng-dropdown>
<lib-ng-input-mask></lib-ng-input-mask>
<lib-ng-input-switch></lib-ng-input-switch>
<lib-ng-input-number></lib-ng-input-number>
<lib-ng-input-text-area></lib-ng-input-text-area>
<lib-ng-input-password></lib-ng-input-password>
<lib-ng-input-select></lib-ng-input-select>
<lib-ng-input-radio></lib-ng-input-radio>
<lib-ng-listbox></lib-ng-listbox>
<lib-ng-input-group></lib-ng-input-group>
<lib-ng-table></lib-ng-table>
<lib-ng-accordion></lib-ng-accordion>
<lib-ng-card></lib-ng-card>
<lib-ng-fieldset></lib-ng-fieldset>
<lib-ng-panel></lib-ng-panel>
<lib-ng-tabview></lib-ng-tabview>
<lib-ng-toolbar></lib-ng-toolbar>
<lib-ng-confirm-dialog></lib-ng-confirm-dialog>
<lib-ng-dialog></lib-ng-dialog>
<lib-ng-sidebar></lib-ng-sidebar>
<lib-ng-menubar></lib-ng-menubar>
<lib-ng-messages></lib-ng-messages>
<lib-ng-toast></lib-ng-toast>
<lib-ng-progress-bar></lib-ng-progress-bar>
<lib-ng-progress-spinner></lib-ng-progress-spinner>
<lib-ng-editor></lib-ng-editor> -->
